<!DOCTYPE html>
<html>

<head>
  <title>Châu Ngân Shop</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/css/auth.css" />
  <link rel="icon" type="image/png" href="/images/icons/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="cont-resetpass">
    <form action="/auth/get-code-reset" method="POST">
    <div class="form sign-in" style="width: unset!important;">
      <h2>Lấy lại mật khẩu</h2>
      <label>
        <span>Email</span>
        <input type="email" name="email" />
      </label>
      <button class="submit" type="submit">Gửi mã lấy lại mật khẩu</button>
      <% if(message_success.length || message_err.length > 0 ) { %>
        <% if(message_success.length !== 0) {%>
          <div class="alert alert-success" role="alert" style="text-align: center;">
            <strong><%= message_success %></strong> 
          </div>
        <% } %>
        <% if(message_err.length !== 0) {%>
          <div class="alert alert-danger" role="alert"  style="text-align: center;">
            <strong><%= message_err %></strong> 
          </div>
      <% }} %>
      <p style="text-align: center;"><a href="/auth">Trở về trang đăng nhập</a></p>  
    </div>
    </form>
  </div>
</body>
</html>