<!DOCTYPE html>
<html>

<head>
  <title>Châu Ngân Shop</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/css/auth.css" />
  <link rel="icon" type="image/png" href="/images/icons/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="cont-resetpass">
    <form action="/auth/update-new-password/<%= token %>" method="POST">
    <div class="form sign-in" style="width: unset!important;">
      <h2>Nhập lại mật khẩu mới</h2>
      <label>
        <span>Mật khẩu mới</span>
        <input type="password" name="newpassword" />
      </label>
      <button class="submit" type="submit">Cập nhật mật khẩu mới</button>
    </div>
    </form>
  </div>
</body>
</html>