<div class="container">
    <div class="order-success">
        <div class="row">
            <div class="col-lg-12">
                <div class="place-bill-info">
                    <img src="/images/icons/success-icon.png" alt="IMG">
                    <h4>Duyệt đơn hàng thành công.</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Mã hóa đơn: </label>
                        </div>
                        <div class="col-lg-12 ">
                            <label>Thông tin liên lạc</label>
                            <label>Họ và tên:  </label>
                            <label>Số điện thoại:</label>
                            <label>Email: </label>
                            <label>Địa chỉ: </label>
                        </div>
                        <div class="col-lg-12 ">
                            <label>Tổng tiền đơn hàng: VNĐ</label>
                        </div>
                        <div class="col-lg-12">

                            <label>Payment Method:  </label>

                        </div>
                        <div class=" col-lg-12  continue-shopping">
                            <a href="/product" class="continue-shopping-site">Tiếp tục Shopping</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>